@font-face {
    font-family: "Mali";
    src: url("Mali-Regular.eot"); /* IE9 */
    src: url("Mali-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Mali-Regular.woff") format("woff"), /* chrome, firefox */
    url("Mali-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Mali-Regular.svg#Mali") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


