@font-face {
    font-family: "Mali";
    src: url("Mali-SemiBold.eot"); /* IE9 */
    src: url("Mali-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Mali-SemiBold.woff") format("woff"), /* chrome, firefox */
    url("Mali-SemiBold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Mali-SemiBold.svg#Mali SemiBold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 500;
}


